@model EasyPTC.Web.ViewModels.AboutPageModel

<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Mark</th>
    </tr>
    @for (int i = 0; i < Model.Marks.Count; i++)
    {
        <tr>
            <td>
                @Model.Students[i]
            </td>
            <td>
                @Model.Marks[i]
            </td>
        </tr>

    }
</table>

<p>Use this area to provide additional information.</p>
